#intro {
    height: 100vh;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.intro__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 16px;
    animation: fadeIn 0.5s ease forwards;

    @media (max-width: 800px) {
        justify-content: center;
    }

    .intro__title {
        font-size: 10vw;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 800;
        white-space: nowrap;
        text-indent: -0.5vw;
        letter-spacing: -0.3vw;

        @media (max-width: 320px) {
            display: none;
        }
    }
    .intro__text {
        width: 100%;
        height: 40vh;
        background-color: var(--black);
        color: var(--subBg500);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        opacity: 0; /* 초기 불투명도 주기 */
        animation: fadeIn 1s ease forwards 0.9s; /* 지연 시간 포함된 애니메이션 설정 */

        .text {
            font-size: 2.5vw;
            line-height: 1;
            font-weight: 800;
            text-transform: uppercase;

            text-align: center;
            position: relative;
            z-index: 100;
            cursor: pointer;
            transition: all 0.3s;

            /* 텍스트 스트로크 설정 */
            -webkit-text-fill-color: var(--subBg400); /* 원래 색상을 투명하게 */
            -webkit-text-stroke-width: 2px; /* 스트로크 두께 */
            -webkit-text-stroke-color: var(--subBg400); /* 스트로크 색상 */

            .resume {
                font-size: 24px;
                -webkit-text-fill-color: var(--white); /* 원래 색상을 투명하게 */
                -webkit-text-stroke-width: 0px; /* 스트로크 두께 */
                -webkit-text-stroke-color: var(--white); /* 스트로크 색상 */
            }

            @media (max-width: 800px) {
                font-size: 24px;
            }
        }
        .img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 30vh;
            height: 30vh;
            border-radius: 50%;
            overflow: hidden;
            filter: grayscale(100%);
            transition: all 0.3s;

            @media (max-width: 320px) {
                width: 20vh;
                height: 20vh;
            }
        }

        &:hover .text {
            -webkit-text-fill-color: transparent; /* 색상을 투명하게 */
        }
        &:hover .img {
            filter: grayscale(0);
        }
    }
    .intro__lines {
        width: 100%;

        .line {
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--black);
            margin-bottom: 0.5vw;
            opacity: 0;
            animation: fadeIn 0.5s ease forwards;

            &:nth-child(1) {
                height: 1px;
                animation-delay: 0.2s;
            }
            &:nth-child(2) {
                height: 2px;
                animation-delay: 0.3s;
            }
            &:nth-child(3) {
                height: 5px;
                animation-delay: 0.4;
            }
            &:nth-child(4) {
                height: 9px;
                animation-delay: 0.5s;
            }
            &:nth-child(5) {
                height: 13px;
                animation-delay: 0.6s;
            }
            &:nth-child(6) {
                height: 17px;
                animation-delay: 0.7s;
            }
            &:nth-child(7) {
                height: 25px;
                animation-delay: 0.8s;
            }
        }

        &.bottom {
            .line {
                margin-top: 0.5vw;
                margin-bottom: 0;
                display: none;

                @media (max-width: 800px) {
                    display: block;
                }

                &:nth-child(1) {
                    height: 25px;
                }
                &:nth-child(2) {
                    height: 17px;
                }
                &:nth-child(3) {
                    height: 13px;
                }
                &:nth-child(4) {
                    height: 9px;
                }
                &:nth-child(5) {
                    height: 5px;
                }
                &:nth-child(6) {
                    height: 2px;
                }
                &:nth-child(7) {
                    height: 1px;
                }
            }
        }
    }
}
