.skill__inner {
    padding: 16px;
    width: auto;
    border-bottom: 0.4vw solid var(--black100);
    overflow: auto;
    white-space: nowrap;
    margin: 18px;

    .skill__title {
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--black100);
        @media (max-width: 800px) {
            position: sticky;
            top: 0px;
            left: 0px;
        }
    }
    .skill__desc {
        width: 50%;
        display: flex;
        margin-top: 30px;
        margin-bottom: 4px;
        @media (max-width: 800px) {
            width: 100%;
        }

        span {
            font-size: 1.2rem;
            background-color: var(--subBg400);
            color: white;
            padding: 8px 12px;
            text-align: center;
            border-radius: 20px;
            font-weight: 600;
            margin-left: 30px;
        }
    }
}
