#intro {
    height: 100vh;
    padding: 20px 40px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fallDown {
    from {
        transform: translateY(-300%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes titleDown {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.intro__inner {
    height: 100%;
    display: flex;
    flex-direction: row; /* 요소들을 수평으로 배열 */
    justify-content: flex-end; /* 요소들을 컨테이너의 끝(오른쪽)으로 정렬 */
    align-items: center; /* 가운데 정렬로 변경 */

    @media (max-width: 800px) {
        justify-content: center;
    }

    .intro__title {
        position: relative;
        font-size: 8vw;
        line-height: 1;
        font-weight: 800;
        color: var(--title);
        white-space: nowrap;
        letter-spacing: -0.3vw;
        margin-right: auto;
        animation: titleDown 0.8s ease-in-out forwards;
        z-index: 10;

        .fallText {
            position: absolute;
            bottom: 32%;
            left: 40%;
            animation: fallDown 1.2s ease-in-out forwards;
        }

        .close {
            position: absolute;
            bottom: 1vw;
            right: -2.4vw;
            border-radius: 50%;
            width: 1.8vw;
            height: 1.8vw;
            background-color: var(--subBg500);
        }

        .intro__buttons {
            position: absolute;
            left: 0;

            .btn {
                margin-right: 1vw;
                padding: 0.6vw;
                font-family: var(--text-font);
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                border-radius: 10px;
                border: 2px solid var(--title);
                text-transform: uppercase;
                letter-spacing: 1px;
                box-shadow: 5px 5px 5px var(--black200);

                &:hover {
                    transform: translate(5px, 5px);
                    box-shadow: inset 5px 5px 5px var(--black200);
                }
            }

            .contact {
                background-color: var(--subBg200);
            }
        }

        @media (max-width: 320px) {
            display: none;
        }
    }
    .intro__circles {
        position: relative; /*부모위치*/

        .img {
            position: absolute;
            top: -240px;
            left: -200px;
            transform: translate(-50%, -50%);
            overflow: visible;
            cursor: all-scroll;
            filter: grayscale(100%);
            transition: all 0.3s;

            &:hover {
                filter: grayscale(0);
            }

            @media (max-width: 320px) {
            }
        }
    }
    .circle {
        z-index: -1;
        display: flex;
        border-radius: 50%;
        opacity: 0;
        animation: fadeIn 0.4s ease forwards;

        &:nth-child(1) {
            width: 380px;
            height: 380px;
            animation-delay: 2s;
            @media (max-width: 800px) {
                width: 100px;
            }
        }

        &:nth-child(2) {
            position: absolute;
            top: -120px;
            right: 220px;
            width: 200px;
            height: 200px;
            background-color: var(--subBg100);
            z-index: 0;
            animation-delay: 1.6s;
        }

        &:nth-child(3) {
            position: absolute;
            top: 40px;
            right: 340px;
            width: 120px;
            height: 120px;
            background-color: var(--subBg300);
            animation-delay: 1.4s;
        }

        &:nth-child(4) {
            position: absolute;
            top: 60px;
            right: 500px;
            width: 130px;
            height: 130px;
            background-color: var(--subBg200);
            animation-delay: 1s;
            transform: skew(20deg, 20deg);
        }

        &:nth-child(5) {
            position: absolute;
            top: 220px;
            right: 330px;
            width: 120px;
            height: 120px;
            background-color: var(--subBg300);
            animation-delay: 0.8s;
            transform: skew(-10deg, -40deg);
        }

        &:nth-child(6) {
            position: absolute;
            top: 300px;
            right: 550px;
            width: 6vw;
            height: 6vw;
            background-color: var(--subBg400);
            animation-delay: 0.4s;
            @media (max-width: 800px) {
            }
        }
    }
}
