#project {
    margin: 1.4vw 18vw;
}

.project__inner {
    color: var(--title);

    .project__title {
        position: sticky;
        top: 70px;
        left: 0;
        height: 5vw;
        font-size: 4vw;
        text-align: center;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        border-bottom: 0.4vw solid var(--title);
        margin-bottom: 1vw;
    }
    .project__wrap {
        .project__item {
            height: 70vh;
            @include flex-center;
            flex-direction: column;
            position: sticky;
            left: 0;

            &.s1 {
                background-color: var(--subBg100);
                top: 180px;

                @media (max-width: 1280px) {
                    top: 140px;
                    height: 46vh;
                }

                @media (max-width: 1024px) {
                    top: 128px;
                    height: 40vh;
                }
                @media (max-width: 768px) {
                    top: 100px;
                    height: 30vh;
                }
            }
            &.s2 {
                background-color: var(--subBg200);
                top: 200px;
                @media (max-width: 1280px) {
                    top: 150px;
                    height: 46vh;
                }

                @media (max-width: 1024px) {
                    height: 40vh;
                }

                @media (max-width: 768px) {
                    height: 30vh;
                    top: 160px;
                }
            }
            &.s3 {
                background-color: var(--subBg300);
                top: 240px;
                @media (max-width: 1280px) {
                    height: 46vh;
                }
                @media (max-width: 1024px) {
                    height: 40vh;
                }
                @media (max-width: 768px) {
                    height: 30vh;
                    top: 200px;
                }
            }
            // &.s4 {
            //     background-color: var(--subBg100);
            //     top: 240px;

            //     @media (max-width: 768px) {
            //         top: 200px;
            //     }
            // }

            .num {
                font-size: 5vw;
                line-height: 1;
                font-weight: 900;
                font-family: var(--mainNum-font);
                position: absolute;
                left: 1vw;
                top: 1vw;
            }
            a.img {
                width: 44vw;
                height: auto;
                margin-top: 2.2vw;
                z-index: 999;

                img {
                    cursor: pointer;
                    border-radius: 0.4vw;
                    filter: saturate(0%);
                    transition: all 0.3s;
                }

                img:hover {
                    filter: saturate(100%);
                    transform: scale(1.1);
                }
            }
            a.img .view {
                display: block;
                z-index: 9999;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                animation: fadeIn 0.3s ease-in-out;
                font-size: 1.3vw;
                font-weight: bold;
                text-transform: uppercase;
                color: var(--black300);
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

            a.img:hover .view {
                display: none;
                opacity: 0;
                pointer-events: none; /* .view에 마우스 이벤트 전파 방지 */
            }

            .title {
                position: absolute;
                top: 3%;
                font-size: 2.8vw;
                font-weight: 900;
                text-transform: uppercase;
                font-family: var(--mainEng-font);
                color: var(--title);

                @media (max-width: 768px) {
                    margin-top: 24px;
                    font-size: 26px;
                }
            }

            .stack {
                position: absolute;
                left: 0;
                bottom: 3%;
                width: 98%;
                margin-left: 1%;
                border-top: 1px solid var(--black);
                border-bottom: 1px solid var(--black);
                display: flex;
                justify-content: space-evenly;

                @media (max-width: 768px) {
                    flex-direction: column;
                    width: 90%;
                    margin-left: 5%;
                    padding: 5px 0;
                }

                span {
                    font-family: var(--mainKor-font);
                    font-size: 1vw;
                    padding: 0.3vw 0vw;
                    text-transform: uppercase;
                }
            }
        }
    }
}
