#skill {
    background-color: var(--subBg100);
    padding: 1.2vw 18vw;
    height: 70vh;

    @media (max-width: 1280px) {
        height: 50vh;
    }
    @media (max-width: 1024px) {
        height: 40vh;
    }
    @media (max-width: 768px) {
        height: 30vh;
    }
}

.skill__title {
    height: 5vw;
    text-align: center;
    width: 100%;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--mainBg-color);
    border-bottom: 0.4vw solid var(--mainBg-color);
}

.skill__container {
    display: flex;
    justify-content: space-evenly;
}

.skill__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 13vw;
    align-items: center;
    background: var(--subBg300);

    ::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;

        border-left: 6.5vw solid transparent;
        border-right: 6.5vw solid transparent;
        border-top: 3vw solid var(--subBg300);
    }

    .inner__title {
        font-family: var(--text-font);
        text-align: center;
        color: var(--mainBg-color);
        font-size: 1.8vw;
        font-weight: 700;
        cursor: pointer;
        padding: 0.6vw;
    }
    &:hover .skill__desc {
        display: block;
    }
    &:hover .inner__title {
        color: var(--subBg400);
    }
    .skill__desc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        text-align: center;

        .skillBox {
            margin: 0.8vw 0vw;
        }

        span {
            font-size: 1vw;
            background-color: var(--subBg500);
            border: 0.2vw solid var(--mainBg-color);
            color: white;
            padding: 0.2vw 0.6vw;
            text-align: center;
            border-radius: 2vw;
            font-weight: 600;
        }
    }
}
