/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/assets/scss/style.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://websfont.github.io/nanumSquareNeo/nanumSquareNeo.css");
@import url("https://websfont.github.io/gmarket/gmarket.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
.ubuntu {
  font-family: "Ubuntu";
}

.sedan-regular {
  font-family: "Sedan";
}

.mont {
  font-family: "Montserrat";
}

.nanum {
  font-family: "nanumSquareNeo";
}

.gmarket {
  font-family: "gmarket";
}

.alegreya-sans {
  font-family: "Alegreya Sans";
}

:root {
  --mainEng-font: "Montserrat";
  --mainKor-font: "nanumSquareNeo";
  --mainNum-font: "gmarket";
  --Header-font: "Ubuntu";
  --text-font: "Alegreya Sans";
  --mainBg-color: #f2dfd8;
  --title: #092616;
  --subBg100: #e9a972;
  --subBg200: #ffeeb9;
  --subBg300: #cdcdcd;
  --subBg400: #87b0a3;
  --subBg500: #acc0b5;
  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 800px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }
}

body {
  background-color: var(--mainBg-color);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
table,
textarea {
  font-family: var(--mainEng-font), var(--mainKor-font), "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

strong {
  font-weight: normal;
}

img {
  vertical-align: top;
  width: 100%;
}

#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  font-family: var(--Header-font);
}

#header.scrolled {
  background: var(--title);
  color: var(--mainBg-color);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}
.header__inner .header__logo {
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}
.header__inner .header__logo em {
  font-size: 10px;
  display: block;
}
@media (max-width: 800px) {
  .header__inner .header__nav {
    display: none;
  }
  .header__inner .header__nav.show {
    display: block;
  }
  .header__inner .header__nav.show ul {
    display: block;
    position: absolute;
    right: 0;
    top: 68px;
    background-color: var(--mainBg-color);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    z-index: 9999;
    width: 100%;
    padding: 20px 0px;
  }
  .header__inner .header__nav.show ul li {
    display: block;
    text-align: center;
  }
  .header__inner .header__nav.show ul li a {
    display: inline-block;
    padding: 12px;
  }
  .header__inner .header__nav.show + .header__nav__mobile span::before {
    width: 20px;
  }
  .header__inner .header__nav.show + .header__nav__mobile span::after {
    width: 20px;
  }
}
.header__inner .header__nav li {
  display: inline;
}
.header__inner .header__nav li.active a::before {
  transform: translateX(-50%) scaleX(1);
}
.header__inner .header__nav li a {
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px;
  position: relative;
}
.header__inner .header__nav li a::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--subBg500);
  position: absolute;
  left: 50%;
  bottom: 4px;
  transform: translateX(-50%) scaleX(0);
  transition: all 0.3s ease;
}
.header__inner .header__nav li a:hover::before {
  transform: translateX(-50%) scaleX(1);
}
.header__inner .header__nav__mobile {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .header__inner .header__nav__mobile {
    display: block;
  }
}
.header__inner .header__nav__mobile span {
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--black);
  margin-top: 19px;
  position: relative;
}
.header__inner .header__nav__mobile span::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  right: 0;
  top: 6px;
  transition: width 0.3s;
}
.header__inner .header__nav__mobile span::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  left: 0;
  bottom: 6px;
  transition: width 0.3s;
}

#intro {
  height: 100vh;
  padding: 20px 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fallDown {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes titleDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.intro__inner {
  height: 100%;
  display: flex;
  flex-direction: row; /* 요소들을 수평으로 배열 */
  justify-content: flex-end; /* 요소들을 컨테이너의 끝(오른쪽)으로 정렬 */
  align-items: center; /* 가운데 정렬로 변경 */
}
@media (max-width: 800px) {
  .intro__inner {
    justify-content: center;
  }
}
.intro__inner .intro__title {
  position: relative;
  font-size: 8vw;
  line-height: 1;
  font-weight: 800;
  color: var(--title);
  white-space: nowrap;
  letter-spacing: -0.3vw;
  margin-right: auto;
  animation: titleDown 0.8s ease-in-out forwards;
  z-index: 10;
}
.intro__inner .intro__title .fallText {
  position: absolute;
  bottom: 32%;
  left: 40%;
  animation: fallDown 1.2s ease-in-out forwards;
}
.intro__inner .intro__title .close {
  position: absolute;
  bottom: 1vw;
  right: -2.4vw;
  border-radius: 50%;
  width: 1.8vw;
  height: 1.8vw;
  background-color: var(--subBg500);
}
.intro__inner .intro__title .intro__buttons {
  position: absolute;
  left: 0;
}
.intro__inner .intro__title .intro__buttons .btn {
  margin-right: 1vw;
  padding: 0.6vw;
  font-family: var(--text-font);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid var(--title);
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 5px 5px 5px var(--black200);
}
.intro__inner .intro__title .intro__buttons .btn:hover {
  transform: translate(5px, 5px);
  box-shadow: inset 5px 5px 5px var(--black200);
}
.intro__inner .intro__title .intro__buttons .contact {
  background-color: var(--subBg200);
}
@media (max-width: 320px) {
  .intro__inner .intro__title {
    display: none;
  }
}
.intro__inner .intro__circles {
  position: relative; /*부모위치*/
}
.intro__inner .intro__circles .img {
  position: absolute;
  top: -240px;
  left: -200px;
  transform: translate(-50%, -50%);
  overflow: visible;
  cursor: all-scroll;
  filter: grayscale(100%);
  transition: all 0.3s;
}
.intro__inner .intro__circles .img:hover {
  filter: grayscale(0);
}
.intro__inner .circle {
  z-index: -1;
  display: flex;
  border-radius: 50%;
  opacity: 0;
  animation: fadeIn 0.4s ease forwards;
}
.intro__inner .circle:nth-child(1) {
  width: 380px;
  height: 380px;
  animation-delay: 2s;
}
@media (max-width: 800px) {
  .intro__inner .circle:nth-child(1) {
    width: 100px;
  }
}
.intro__inner .circle:nth-child(2) {
  position: absolute;
  top: -120px;
  right: 220px;
  width: 200px;
  height: 200px;
  background-color: var(--subBg100);
  z-index: 0;
  animation-delay: 1.6s;
}
.intro__inner .circle:nth-child(3) {
  position: absolute;
  top: 40px;
  right: 340px;
  width: 120px;
  height: 120px;
  background-color: var(--subBg300);
  animation-delay: 1.4s;
}
.intro__inner .circle:nth-child(4) {
  position: absolute;
  top: 60px;
  right: 500px;
  width: 130px;
  height: 130px;
  background-color: var(--subBg200);
  animation-delay: 1s;
  transform: skew(20deg, 20deg);
}
.intro__inner .circle:nth-child(5) {
  position: absolute;
  top: 220px;
  right: 330px;
  width: 120px;
  height: 120px;
  background-color: var(--subBg300);
  animation-delay: 0.8s;
  transform: skew(-10deg, -40deg);
}
.intro__inner .circle:nth-child(6) {
  position: absolute;
  top: 300px;
  right: 550px;
  width: 6vw;
  height: 6vw;
  background-color: var(--subBg400);
  animation-delay: 0.4s;
}
#skill {
  background-color: var(--subBg100);
  padding: 0px 40px;
  height: 100vh;
}

.skill__title {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  left: 0;
  height: 5vw;
  width: 70%;
  margin-top: 100px;
  font-size: 4vw;
  font-weight: 900;
  line-height: 1.6;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--black100);
  border-bottom: 0.4vw solid var(--black100);
}
@media (max-width: 800px) {
  .skill__title {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
  }
}

.skill__inner {
  display: flex;
  flex-direction: column;
}
.skill__inner .inner__title {
  font-family: var(--text-font);
  color: var(--black100);
  font-size: 68px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
}
.skill__inner .inner__title:hover .highlight:after {
  width: 100%;
}
.skill__inner .inner__title .highlight {
  display: inline-block;
  position: relative;
}
.skill__inner .inner__title .highlight:after {
  content: "";
  width: 0;
  height: 50px;
  display: inline-block;
  background: #abc088;
  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: -1;
  transition: 0.3s all;
}
.skill__inner .skill__desc {
  width: 100%;
  display: flex;
}
@media (max-width: 800px) {
  .skill__inner .skill__desc {
    width: 100%;
  }
}
.skill__inner .skill__desc span {
  font-size: 1.2rem;
  background-color: var(--subBg400);
  color: white;
  padding: 8px 12px;
  text-align: center;
  border-radius: 20px;
  font-weight: 600;
  margin-right: 30px;
}

#project {
  margin-top: 12rem;
}

.project__inner {
  padding: 16px;
}
.project__inner .project__title {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  left: 0;
  width: 70%;
  height: 5vw;
  font-size: 4vw;
  font-weight: 900;
  line-height: 1.6;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--black100);
  border-bottom: 0.4vw solid var(--black100);
  margin-bottom: 100px;
}
@media (max-width: 800px) {
  .project__inner .project__title {
    width: 100%;
    margin-bottom: 10vw;
    font-size: 30px;
    height: auto;
    top: 68px;
    z-index: 1000;
    background-color: var(--mainBg-color);
  }
}
.project__inner .project__title em {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
}
.project__inner .project__wrap .project__item {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
.project__inner .project__wrap .project__item.s1 {
  background-color: var(--subBg100);
  top: 180px;
}
@media (max-width: 800px) {
  .project__inner .project__wrap .project__item.s1 {
    height: 50vh;
    top: 140px;
  }
}
.project__inner .project__wrap .project__item.s2 {
  background-color: var(--subBg200);
  top: 200px;
}
@media (max-width: 800px) {
  .project__inner .project__wrap .project__item.s2 {
    height: 50vh;
    top: 160px;
  }
}
.project__inner .project__wrap .project__item.s3 {
  background-color: var(--subBg300);
  top: 240px;
}
@media (max-width: 800px) {
  .project__inner .project__wrap .project__item.s3 {
    height: 50vh;
    top: 200px;
  }
}
.project__inner .project__wrap .project__item .num {
  font-size: 5vw;
  line-height: 1;
  font-weight: 900;
  font-family: var(--mainNum-font);
  position: absolute;
  left: 1vw;
  top: 1vw;
}
@media (max-width: 800px) {
  .project__inner .project__wrap .project__item .num {
    font-size: 40px;
    left: 20px;
    top: 20px;
  }
}
.project__inner .project__wrap .project__item a.img {
  width: 680px;
  margin-top: 30px;
  z-index: 999;
}
.project__inner .project__wrap .project__item a.img img {
  cursor: pointer;
  border-radius: 5px;
  filter: saturate(0%);
  transition: all 0.3s;
}
.project__inner .project__wrap .project__item a.img img:hover {
  filter: saturate(100%);
}
@media (max-width: 800px) {
  .project__inner .project__wrap .project__item a.img {
    width: 400px;
    margin-top: 0px;
    z-index: 999;
  }
}
.project__inner .project__wrap .project__item a.img .view {
  display: block;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: fadeIn 0.3s ease-in-out;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black200);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.project__inner .project__wrap .project__item a.img:hover .view {
  display: none;
  opacity: 0;
  pointer-events: none; /* .view에 마우스 이벤트 전파 방지 */
}
.project__inner .project__wrap .project__item .title {
  position: absolute;
  top: 3%;
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: var(--mainEng-font);
}
@media (max-width: 800px) {
  .project__inner .project__wrap .project__item .title {
    margin-top: 24px;
    font-size: 26px;
  }
}
.project__inner .project__wrap .project__item .stack {
  position: absolute;
  left: 0;
  bottom: 3%;
  width: 98%;
  margin-left: 1%;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .project__inner .project__wrap .project__item .stack {
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    padding: 5px 0;
  }
}
.project__inner .project__wrap .project__item .stack span {
  font-family: var(--mainKor-font);
  font-size: 18px;
  padding: 3px 0;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .project__inner .project__wrap .project__item .stack span {
    font-size: 10px;
  }
}
